
.venv*/
env/
venv/
*.pyc
*.pyo
__pycache__/
*.log
*.out
*.err
*.db
*.db-shm
*.db-wal
home-assistant.log
home-assistant_v2.db
.vscode/
.idea/
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
.git/
*.orig
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.egg
.ruff_cache/
